body{
  background-color: bisque;
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

header, footer {
  background-color: #202020;
  color: white;
  font-family: "Lato", sans-serif;
  padding: 10px;
  width: 100%;
  height: 55px;
}

footer > *{
  color: aquamarine;
  margin: 15px;
}

section{
  background-color:aliceblue;
  padding: 0px 10px;
}

section > *{
  margin: 0;
}

.posts{
  width: 600px;
  height: 80%;
  margin: 10px 25px;
}

.about_me{
  margin: 0px 25px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 800px;
  height: 80%;
}

img{
  height: 250px;
}

.contact{
  margin: 0px 25px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 600px;
  height: 80%;
}

.linked_in{
  color: #4d4c4c;
}

.linked_in:hover{
  color:rgb(0, 0, 0)
}